@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

.my-button {
  background: linear-gradient(90deg, #22c1c3, #4f46e5);
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.active {
  color: white;
  background: rgba(102, 102, 102, 0.355);
}
.logo-font {
  font-family: "Sora", sans-serif;
  font-weight: bold;
}
.title-font {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
}
.modal-submit {
  background: linear-gradient(90deg, #22c1c3, #4f46e5);
  border: none;
  color: white;

  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
