@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
/* @plugin "daisyui" {
  themes: winter --default, night --prefersdark;
} */
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.basic-btn {
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  padding: 6px 30px;
  font-weight: bold;
  color: white;
}
.my-button {
  position: relative;
  display: inline-block;

  background-color: #7c3aed;

  overflow: hidden;
  transition: transform 0.2s;
}
.my-button:hover {
  background-color: #8b5cf6;
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.5),
    0 0 40px rgba(124, 58, 237, 0.25);
  transform: scale(1.05);
}
.my-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-20deg);
}

.my-button::before {
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
.active {
  /* background: rgba(102, 102, 102, 0.355);
  padding: 7px 10px; */
  border-radius: 5px;
  color: #8b5cf6;
}
.logo-font {
  font-family: "Sora", sans-serif;
  font-weight: bold;
}
.title-font {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
}

/* .modal-submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-20deg);
}

.modal-submit::before {
  animation: shine 2s linear infinite;
}
.modal-submit:hover {
  background: #8b5cf6;
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.5),
    0 0 40px rgba(124, 58, 237, 0.25);
  transform: scale(1.05);
} */
.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -2px rgba(0, 0, 0, 0.06);
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
}
