@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}
.my-button {
  position: relative;
  display: inline-block;

  background-color: #7c3aed;

  overflow: hidden;
  transition: transform 0.2s;
}
.my-button:hover {
  background-color: #8b5cf6;
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.5),
    0 0 40px rgba(124, 58, 237, 0.25);
}
.my-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-20deg);
}

.my-button::before {
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
.active {
  /* background: rgba(102, 102, 102, 0.355);
  padding: 7px 10px; */
  border-radius: 5px;
  color: #8b5cf6;
}
.logo-font {
  font-family: "Sora", sans-serif;
  font-weight: bold;
}
.title-font {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -2px rgba(0, 0, 0, 0.06);
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
}
.hover-glow {
  transition: all 0.3s ease;
}
.hover-glow:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0 0 10px rgba(124, 58, 237, 0.3);
}
